<div class="px-3">
  <!--Calendar region-->
  <div class="row justify-content-center bg-styl-1">
    <div class='col-md-6 mt-3'>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker6'>
          <input type='text' class="form-control rounded-0" #datePicker
            ngbDatepicker #d="ngbDatepicker"
            (dateSelect)="onDateSelection($event)"
            [displayMonths]="2"
            [dayTemplate]="t"
            outsideDays="hidden" />
          <ng-template #t let-date let-focused="focused">
            <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
              {{ date.day }}
            </span>
          </ng-template>
          <div class="input-group-append pointer">
            <span class="material-icons input-group-text rounded-0"
              (click)="d.toggle()">
              date_range
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Report region-->
  <div class="w-100">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngFor="let header of tableHeader">
            {{header.display}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employee;">
          <td>
            <p>{{employee.id}}</p>
          </td>
          <td>
            <p>{{employee.name}}</p>
          </td>
          <td scope="row" *ngFor="let shift of employee.shiftList">
            <input type="number" [(ngModel)]="shift.count">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
