<div class="container-fluid h-100 p-0">
  <div class="d-flex h-100 align-items-center justify-content-center login-ctr">
    <div class="card login-hldr rounded-0">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control rounded-0"
                placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control rounded-0"
                placeholder="Password">
            </div>
            <div>
              <input type="submit" role="button"
                class="btn btn-styl-1 w-100 rounded-0"
                value="Login" routerLink="users"/>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
